.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    border: 2px solid black;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    /* border: 2px solid black; */

}

.header-left h2 {
    font-size: 1.5rem;
    /* color: var(--dark-grey); */
    color: black;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header-right .fa-bell {
    font-size: 1.3rem;
    cursor: pointer;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    background-color: var(--text-red);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}