/* src/style.css */

/* Variabel warna dan gaya global */
:root {
    --primary-green: #84a59d;
    --dark-grey: #333;
    --light-grey: #f5f5f5;
    --border-grey: #e0e0e0;
    --text-color: #555;
    --text-green: #2a9d8f;
    --text-red: #e76f51;
    --bg-color: #f8f9fa;
    --white: #ffffff;
    --sidebar-bg: #ffffff;
    --container-bg: #e9ecef;
    --login-btn-color: #83b264;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--container-bg);
}

/* Layout utama aplikasi */
#app {
    min-height: 100vh;
}

.dashboard-container {
    display: grid;
    grid-template-columns: 260px 1fr;
    height: 100vh;
    overflow: hidden;
    transition: grid-template-columns 0.3s ease-in-out;
}

.main-content {
    padding: 20px 40px;
    background-color: var(--bg-color);
    overflow-y: auto; /* Handle overflow if screen is too small */
}

/* Style untuk container saat sidebar tertutup */
.dashboard-container.sidebar-collapsed {
    grid-template-columns: 88px 1fr;
}

/* Style untuk bagian Autentikasi */

.auth-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-color);
}